// 🎨 Colores base
$color-rojo:        #E24137;
$color-rojo-claro:  #F68C65;
$color-durazno:     #F6D0A1;
$color-turquesa:    #29B9B9;
$color-turquesa-oscuro: #168090;

// 🌚 Tonos neutros
$color-fondo:       #f9f9f9;
$color-texto:       #333;

// 🔤 Tipografías
$fuente-base: 'Segoe UI', sans-serif;
